label{
    display: block;
    margin-bottom: 10px;}
   legend{
    margin-bottom: 10px; }
   fieldset{
    margin-bottom: 20px;}
   nav{
    justify-content: space-between;
    display: flex;}
   nav a{        
    text-decoration: none;
    color: r=rgb(14, 0, 75);}
    .mother{
        display: flex;
        justify-content: center;
        border: 5px solid red;
        height: 50vh;
        align-items: center;
    }
    .loging{
       display: flex;
       /* justify-content: space-around; */
       /* justify-content: space-evenly */
       flex-direction: column;
       justify-content: center;
       width: 30%;
       justify-content: center;
       border: 3px solid blueviolet;
    }
    .loging input{
        margin-top: 20px;
    }
